.DS_Store
.env
.env.*
!.env.example
**/.gradle/
**/allure-results/
**/bin/
**/build/
!**/.github/actions/build/
!**/.github/actions/build/**
**/coverage/
**/dist/
**/node_modules/
**/.vite/
*.tsbuildinfo
